.container {
    .wrapper {
        // border:1px solid red;
        width:1024px;
        overflow: hidden;
        .imgWrapper {
            position: relative;
            .imgBanner {
                width:1027px;
                // background-size: contain;
            }
        }
        .infoWrapper {
            position: absolute;
            top:117px;
            margin-left:30px;
            .headerText {
                width: 523px;
                height: 163px;
                font-size: 50px;
                line-height: 54px;
                color: #ffffff;
                font-family: "Open Sans";
                margin-bottom:24px;
                letter-spacing: -0.4px;
            }
            .mainText {
                width: 532px;
                height: 122px;
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
                font-family: "Open Sans";
                // margin-bottom:34px;
                margin: 0 0 32px 1px;
            }
            .btnSingUp {
                width: 210px;
                height: 38px;
                border-radius: 4px;
                color: #ffffff;
                font-family: "Open Sans";
                background-color: #ef5b4b;
                border:none;
                font-weight: bold;
                font-size: 16px;
                & a {
                    color: #ffffff;
                    text-decoration: none;
                }
                &:hover{
                    background-color: #D24335;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .container {
        .wrapper {
            // border:1px solid red;
            width:360px;
            display: flex;
            justify-content: center;
            align-items: center;
            .imgWrapper {
                .imgBanner {
                    width:700px;
                    height:400px;
                    background-position: center;
                }
            }
            .infoWrapper {
                margin:0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .headerText {
                    width: 330px;
                    height: 105px;
                    font-size: 28px;
                    line-height: 34px;
                    color: #ffffff;
                    font-family: "Open Sans";
                    text-align: center;
                    margin:0;
                }
                .mainText {
                    width: 330px;
                    height: 78px;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgb(255,255,255);
                    font-family: "Open Sans";
                    text-align: center;
                    margin: 40px 0 30px 0;
                }
                .btnSingUp {
                    width: 210px;
                    height: 38px;
                    border-radius: 4px;
                    color: #ffffff;
                    font-family: "Open Sans";
                    background-color: #ef5b4b;
                    border:none;
                    font-weight: bold;
                    font-size: 16px;
                    & a {
                        color: #ffffff;
                        text-decoration: none;
                    }
                    &:hover{
                        background-color: #D24335;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .container {
        .wrapper {
            width:768px;
            height:500px;
            overflow: hidden;
            .infoWrapper {

                .headerText {
                    width: 421px;
                    font-size: 40px;
                    line-height: 44px;
                    margin:0;
                }
                .mainText {
                    width: 462px;
                    height: 150px;
                }
            }
        }
    }
}
