.container {
    .wrapper {
    width: 1024px;
    background-color: #f9f9f3;
        .headerContainer {
            display:flex;
            justify-content: center;
            flex-direction: column;
            & p {
                margin:0;
            }
            .mainHeader {
                font-size: 50px;
                color: rgb(33,37,41);
                font-family: "Open Sans";
                text-align: center;
                margin-top:144px;
            }
            .secondaryHeader {
                font-size: 16px;
                line-height: 22px;
                color: rgb(76,75,75);
                font-family: "Open Sans";
                text-align: center;
                margin-top:11px;
            }
        }
        .usersWrapper {
            display:flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            .userBlock {
                width:200px;
                margin:71px 66px 0 66px;
                
                .imgWrapper {
                    display:flex;
                    justify-content: center;
                    margin-bottom:18px;
                }
                .userImg {
                    width: 71px;
                    height: 71px;
                    background-color: #000000;
                    margin-top:5px;
                    border-radius: 50px;
                }
                
                .infoWrapper {
                    & p {
                        margin:0;
                        text-align: center;
                        line-height: 24px;
                        color: rgb(76,75,75);
                        font-family: "Open Sans";
                        font-size: 16px;
                    }
                    .name {
                        font-size: 24px;
                        color: rgb(33,37,41);
                        margin-bottom:13px;
                        overflow: hidden;
                        padding:5px;
                        text-overflow: ellipsis;
                    }
                    // .position {
                        // margin-bottom:5px;
                    // }
                    .emailWrapper {
                        position: relative;
                        .email {
                            overflow: hidden;
                            padding:5px;
                            text-overflow: ellipsis;
                            &:hover + .tooltipEmail {
                                visibility: visible;
                                transition-delay: 0.2s;
                            }
                        }
                        .tooltipEmail {
                            position: absolute;
                            top:60px;
                            background-color: #000;
                            opacity: 0.7;
                            padding:10px;
                            border-radius: 10px;
                            color:#fff;
                            visibility: hidden;
                        }
                    }
                    // .number{
                        
                    // }
                }
            }
        }
        .btnWrapper {
            display:flex;
            justify-content: center;
        
            .btnShowMore {
                width: 210px;
                height: 38px;
                border-radius: 4px;
                background-color: #ef5b4b;
                color:#fff;
                border:none;
                margin:30px 0 150px 0;
                font-family: "Open Sans";
                font-weight: bold;
                font-size: 16px;
                &:hover{
                    background-color: #D24335;
                }
            }
            .nobtn {
                margin:30px 0 150px 0;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .container {
        .wrapper {
        width: 360px;
        background-color: #f9f9f3;
            .headerContainer {
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                & p {
                    margin:0;
                }
                .mainHeader {
                    width: 330px;
                    font-size: 30px;
                }
            }
            .usersWrapper {
                display:flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                .userBlock {
                    .userImg {
                        width: 84px;
                        height: 80px;
                        background-color: #000000;
                    }
                    .infoWrapper {
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .name {
                            width: 216px;
                            height: 22px;
                            text-align: center;
                            text-overflow: ellipsis;
                        }
                        .emailWrapper {
                            .email {
                                overflow: hidden;
                                padding:5px;
                                text-overflow: ellipsis;
                                width: 216px;
                                font-size: 16px;
                                
                                &:hover + .tooltipEmail {
                                    visibility: visible;
                                    transition-delay: 0.2s;
                                    width: 216px;
                                    word-wrap: break-word;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .container {
        .wrapper {
        width: 768px;
            .headerContainer {
                .mainHeader {
                    font-size: 40px;
                }
            }
            .usersWrapper {
                .userBlock {
                    width:200px;
                    margin:60px 15px 30px 15px;
                }
            }
        }
    }
}