.container {
    .wrapper {
        width:1024px;
        margin-top:100px;
        margin-bottom:124px;
        .headerWrapper {
            display:flex;
            justify-content: center;
            .mainHeader {
                margin:50px 0 40px 0;
                width: 963px;
                font-size: 50px;
                line-height: 53px;
                letter-spacing: -0.8px;
                color: #212529;
                font-family: "Open Sans";
                text-align: center;
            }
        }
        .infoWrapper {
            display:flex;
            justify-content: center;
            flex-direction: row;
            .imageWrapper {
                .image {
                    padding:30px;
                    width:340px;
                }
            }
            .textWrapper {
                line-height: 50px;
                padding:8px 0 0 17px;
                .secondaryHeader {
                    width: 550px;
                    font-size: 24px;
                    line-height: 20px;
                    color: #212529;
                    font-family: "Open Sans";
                    margin-bottom:20px;
                }
                .secondaryText {
                    text-align: justify;
                    width: 555px;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: -0.1px;
                    color: #4c4b4b;
                    font-family: "Open Sans";
                    padding:1px;
                }
                .btnSingUp {
                    font-size: 16px;
                    color: #ef5b4c;
                    font-family: "Open Sans";
                    font-weight: bold;
                    border:none;
                    background-color: #fff;
                    text-align: left;
                    padding:2px;
                    & a {
                        color: #ef5b4c;
                        text-decoration: none;
                        &:hover{
                            color: #D24335;
                        }
                    }
                    
                }
            }
        }
    }
}


@media screen and (max-width: 360px) {
    .container {
        .wrapper {
            width:360px;
            margin-top:100px;
            margin-bottom:124px;
            .headerWrapper {
                display:flex;
                justify-content: center;
                .mainHeader {
                    margin:0;
                    width: 330px;
                    height: 60px;
                    font-size: 30px;
                    line-height: 50px;
                    text-align: center;
                }
            }
            .infoWrapper {
                display:flex;
                justify-content: center;
                flex-direction: column;
                .imageWrapper {
                    .image {
                        width:300px;
                    }
                }
                .textWrapper {
                    .secondaryHeader {
                        width: 330px;
                        text-align: center;
                    }
                    .secondaryText {
                        width: 330px;
                        text-align: justify;
                        color: #4c4b4b;
                        font-family: "Open Sans";
                    }
                    .btnSingUp {
                        width: 330px;
                        height: 28px;
                        font-size: 16px;
                        line-height: 60px;
                        text-align: center;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .container {
        .wrapper {
            width:768px;
            margin-top:100px;
            margin-bottom:124px;
            .headerWrapper {
                display:flex;
                justify-content: center;
                .mainHeader {
                    width: 708px;
                    height: 60px;
                    font-size: 40px;
                    line-height: 50px;
                }
            }
            .infoWrapper {
                .imageWrapper {
                    .image {
                        width:240px;
                        padding:30px 30px 0 10px;
                    }
                }
                .textWrapper {
                    padding:0;
                    .secondaryHeader {
                        width: 431px;
                        height: 35px;
                        font-size: 24px;
                        line-height: 30px;
                    }
                    .secondaryText {
                        width: 431px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}