.container {
    .wrapper {
        height: 60px;
        width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Open sans';
        position: relative;
        .logoBlock {
            position: absolute;
            top:20px;
            left:30px;
        }
        .headerMenu {
            display: flex;
            flex-direction: row;
            position: absolute;
            right:30px;
            p {
                a {
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 60px;
                    color: #212529;
                    margin-top:16px;
                    margin-left: 28.5px;
                    &:hover {
                        color: #ef5b4c;
                    }
                    &:active {
                        color: #007bff;
                    }
                }
            }
        }
    }
}






