.container {
    .wrapper {
        width: 1024px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        .headerContainer {
            margin-top:115px;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & p {
                margin:0;
            }
            .mainHeader {
                font-size: 50px;
                color: rgb(33,37,41);
                font-family: "Open Sans";
                text-align: center;
                margin-bottom:10px;
            }
            .secondaryHeader {
                width: 467px;
                font-size: 16px;
                line-height: 24px;
                color: rgb(76,75,75);
                font-family: "Open Sans";
                text-align: center;
            }
        }
        .registerFormWrapper {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top:13px;

            .formClass {
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .inputWrapper {
                    width:100%;
                    .textForField {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 28px;
                        color: rgb(33,37,41);
                        font-family: "Open Sans";
                        margin:13px 0 8px 3px;
                    }
                    .input {
                        width: 437px;
                        height: 38px;
                        border-radius: 4px;
                        border: 1px solid #cdd3d9;
                        font-size: 14px;
                        font-family: "Open Sans";
                        padding:0 15px;
                        &::placeholder { color: #b2b9c0; }
                    }
                    .textPhoneformat {
                        margin:5px 0;
                        font-size:13px;
                    }
                    
                    .checkBoxWrapper {
                        // .textForCheckBox {
                        // }
                        .eachCheckbox {
                            .checkBox {
                                width:14px;
                                height:14px;
                                margin:2px 0;
                                margin:1px 10px 12px 1px;
                                &:checked::before {
                                    content: '';
                                    display: block;
                                    width:6px;
                                    height:6px;
                                    border:5px solid #007bff;
                                    background-color:#fff;
                                    border-radius:100%;
                                }
                            }
                        }
                    }
                    .input[type='file'] {
                        // font-size:25px;
                        visibility: hidden;
                        width: 357px;
                    }
                    .fileWrapper {
                        .uploadPhotoWrapper {
                            border:1px solid #cdd3d9;
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row;
                            border-radius: 4px;
                            position:relative;
                            
                            .fileplaceholder {
                                position: absolute;
                                top:0;
                                left:0;
                                margin:8px 10px;
                                color: #b2b9c0;
                            }
                            .buttonFile {
                                width:80px;
                                height:40px;
                                font-size:16px;
                                background-color: #f7f7f5;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                border-left:1px solid #d3d9dd;
                            }
                        }
                    }
                }
                .error {
                    font-size:13px;
                    color:red;
                }
                .btnSingUp {
                    width: 210px;
                    height: 38px;
                    display:flex;
                    justify-content: center;
        
                    font-size: 16px;
                    color: #fefefe;
                    font-family: "Open Sans";
                    font-weight: bold;
                    text-align: center;
        
                    border-radius: 4px;
                    background-color: #ef5b4b;
                    border:none;
        
                    margin:30px 0 163px 0;

                    &:hover{
                        background-color: #D24335;
                    }
                }
            }
        }
    }
}

.successModalWindow {
    width: 395px;
    height: 190px;
    position: relative;
    top:650px;
    left:330px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 30px -7px #000000;
    .borderBlock {
        // height:2px;
        width:100%;
        border: 1px solid #ebedf1;
    }

    .firstBlock {
        display: flex;
        justify-content: space-between;
        margin:0 10px;
        & p {
            font-size:24px;
            margin:10px 0;
            font-family: "Open Sans";
        }
        & button {
            width:30px;
            height:30px;
            border:none;
            background: none;
            font-size:24px;
            margin:10px 0;
            // padding:5px;

        }
    }

    .secondBlock {
        & p {
            font-size:16px;
            color: #4c4b4b;
            font-family: "Open Sans";
            margin:20px;

        }
    }

    .thirdBlock {
        display:flex;
        justify-content: flex-end;
        margin-top:10px;
        & button {
            width: 80px;
            height: 38px;
            border-radius: 4px;
            background-color: #ef5b4b;
            font-size: 16px;
            color: #fefefe;
            font-family: "Open Sans";
            font-weight: bold;
            border:none;
            margin-right:15px;
        }
    }
}



@media screen and (max-width: 360px) {
    .container {
        .wrapper {
            width: 360px;
            display:flex;
            justify-content: flex-start;
            flex-direction: column;
            .headerContainer {
                margin-top:115px;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                & p {
                    margin:0;
                }
                .mainHeader {
                    width: 330px;
                    height: 58px;
                    font-size: 30px;
                }
                .secondaryHeader {
                    width: 300px;
                    height: 69px;
                    font-size: 16px;
                    line-height: 22px;
                    color: rgb(76,75,75);
                    font-family: "Open Sans";
                    text-align: center;
                }
            }
            .registerFormWrapper {
                .formClass {
                    .inputWrapper {
                        width:350px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        .textForField {
                            font-size: 16px;
                            line-height: 28px;
                            color: rgb(33,37,41);
                            font-family: "Open Sans";
                        }
                        .input {
                            width: 318px;
                            height: 38px;
                        }
                        .textPhoneformat {
                            margin:5px 0;
                            font-size: 12px;
                        }
                        .input[type='file'] {
                            // font-size:25px;
                            visibility: hidden;
                            width: 235px;
                        }
                    }
                }
            }
        }
    }
    
    .successModalWindow {
        width: 300px;
        height: 200px;
        position: relative;
        top:650px;
        left:30px;
        .thirdBlock {
            & button {
                width: 80px;
                height: 38px;
                border-radius: 4px;
                background-color: #ef5b4b;
                font-size: 16px;
                color: #fefefe;
                font-family: "Open Sans";
                font-weight: bold;
                border:none;
                margin-right:15px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .container {
        .wrapper {
            width: 768px;
            .headerContainer {
                .mainHeader {
                    font-size: 40px;
                }
                .secondaryHeader {
                    line-height: 22px;
                }
            }
            .registerFormWrapper {
                .formClass {
                    .inputWrapper {
                        .textForField {
                            font-size: 16px;
                        }
                        .input {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    
    .successModalWindow {
        position: relative;
        left:186px;
    }

}