.mainContainer {
  display:flex;
  justify-content: center;
}

.mainWrapper {
  max-width:1170px;
}

@media screen and (max-width: 360px) {
  .mainWrapper {
    max-width:360px;
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .mainWrapper {
    max-width:768px;
    position: relative;
    overflow: hidden;
  }
}